# Ignore virtual environment
venv/

# Ignore Streamlit config folder (optional)
.streamlit/

# Ignore extra folder
fitpulse/
frontend/
Milestone2_ipynb/
Milestone2_Fitbit.ipynb/

# Ignore unwanted python file
python_basics.py/

# Ignore dataset file
tsfresh_features.csv/

# Ignore cache files
__pycache__/
*.pyc

# System files
desktop.ini/
